<%- include('partials/headers/header-menu') -%>

  <main class="home-main-container">
    <section class="home-section-container">
      <section class="section-top section-column">
        <h2 class="home-heading">add something</h2>
        <ul class="list-recents list-row">
          <li class="add-btn" data-bs-toggle="modal" data-bs-target="#add-data">
            <button type="button" class="btn">
              <i class="fa-solid fa-circle-plus fa-2xl"></i>
            </button>
          </li>
          <li class="heading-item">
            <h2 class="home-heading">recently added</h2>
          </li>
          <!-- limits the length of the recently added array to 4 and finds only the posts entried by the user -->
          <% let arr=players.filter(el=> el.user == user.id).concat(teams.filter(el => el.user == user.id),
            leagues.filter(el => el.user == user.id)).sort((a,b) => b.createdAt-a.createdAt).slice(0,4) %>
            <% if (arr.length> 0) { %>
              <% arr.forEach(e=> { %>
                <% if(e.player) { %>
                  <a href="players/<%= e._id%>" class="each-item recent-item">
                    <li class="item-link">
                      <%= e.player %>
                        <h2 class="home-heading">player</h2>
                    </li>
                  </a>
                  <% } else if(e.team){ %>
                    <a href="teams/<%= e._id%>" class="each-item recent-item">
                      <li class="item-link">
                        <%= e.team %>
                          <h2 class="home-heading">team</h2>
                      </li>
                    </a>
                    <% } else { %>
                      <a href="leagues/<%= e._id%>" class="each-item recent-item">
                        <li class="item-link">
                          <%= e.league %>
                            <h2 class="home-heading">league</h2>
                        </li>
                      </a>
                      <% } %>
                        <% })} %>
        </ul>
      </section>
      <section class="section-bottom section-column">
        <h2 class="home-heading pinned-heading">pinned</h2>


        <ul class="list-pinned list-row">

          <% pinnedArr.forEach(el=> { %>
            <% if (el.player) { %>
              <a href="/players/<%= el._id%>" class="each-item pinned-item">
                <li class="item-link">
                  <%= el.player %>
                    <h2 class="home-heading">player</h2>
                </li>
              </a>
              <% } else if (el.team) { %>
                <a href="/teams/<%= el._id%>" class="each-item pinned-item">
                  <li class="item-link">
                    <%= el.team %>
                      <h2 class="home-heading">team</h2>
                  </li>
                </a>
                <% } else { %>
                  <a href="/leagues/<%= el._id%>" class="each-item pinned-item">
                    <li class="item-link">
                      <%= el.league %>
                        <h2 class="home-heading">league</h2>
                    </li>
                  </a>
                  <% }}) %>
        </ul>

      </section>
    </section>
  </main>

  <%- include('partials/home-modal') -%>
    <%- include('partials/footer') -%>