<%- include('partials/headers/header-menu') -%>
  <main class="container">
    <section class="container-feed">
      <% if ( url==='/players' ) { %>
        <%- include('partials/feed/players') -%>
          <%- include('partials/feed/feed-modal') -%>
            <% } else if (url==='/teams' ) { %>
              <%- include('partials/feed/teams') -%>
                <%- include('partials/feed/feed-modal') -%>
                  <% } else { %>
                    <%- include('partials/feed/leagues') -%>
                      <%- include('partials/modal') -%>
                        <% } %>
    </section>
  </main>

  <%- include('partials/footer') -%>