<%- include('partials/headers/header-menu') -%>

  <main class="container container-post">
    <section class="container-section-post">
      <section class="section-profile-post">
        <%if(team.user==user.id || user.teams.includes(team.team) ){ %>
          <section class="nav-profile-post">
            <img src="<%= team.image.profile || team.image.default %>" class="post-img-top img-fluid" alt=" ...">
            <section class="section-column-post">
              <section class="section-row-post">
                <section class="section-main-player-info">
                  <section class="top-name-section team-group">
                    <h1>
                      <%= team.team %>
                    </h1>

                    <i class="fa-solid fa-people-group"></i>
                  </section>
                  <section class="section-each-extra-post">
                    <h2>
                      <a href="/leagues/<%= league.map(el=> el._id)[0] %>">
                        <%= league.map(el=> el.league)[0] %>
                      </a>
                    </h2>
                  </section>
                </section>
                <section class="section-icons-post">
                  <% if (team.user==user.id ) { %>
                    <button class="edit-post-btns" type="submit" data-bs-toggle="modal"
                      data-bs-target="#edit-post-team">
                      <i class="fa-regular fa-pen-to-square fa-xl post-btn"></i>
                    </button>
                    <form action="/teams/deleteTeam/<%= team._id %>?_method=DELETE" method="POST">
                      <button class="btn" type="submit">
                        <i class="fa-regular fa-trash-can fa-xl post-btn hover-top"></i>
                      </button>
                    </form>
                    <% } %>
                      <form action="/teams/togglePinned/<%= team._id %>?_method=PUT" method="POST">
                        <button class="btn" type="submit" data-bs-toggle="tooltip" data-bs-placement="top"
                          data-bs-title="Pin it">
                          <% if (user.pinned.includes(team.team)) { %>
                            <i class="fa-solid fa-thumbtack fa-xl pinned-btn"></i>
                            <% } else { %>
                              <i class="fa-solid fa-thumbtack fa-xl unpinned-btn"></i>
                              <% } %>
                        </button>
                      </form>

                </section>
              </section>
              <section class="section-secondary-player-info">
                <section class="section-each-extra-post">
                  <h2>
                    <% if (team.win==='' || team.loss==='' ) {%>
                      0-0
                      <% } else { %>
                        <%= team.win %>-<%= team.loss%> | <%=
                              `.${(Number(team.win)/(Number(team.win)+Number(team.loss))).toFixed(3).toString().split('.')[1]}`
                              %>%
                              <% } %>
                  </h2>
                  <span>w-l | pct </span>
                </section>
                <section class="section-each-extra-post">
                  <h2>
                    <%= team.sport %>
                  </h2>
                  <span>sport</span>
                </section>
                <section class="section-each-extra-post">
                  <h2>
                    <%= team.numberofplayers %>
                  </h2>
                  <span># of players</span>
                </section>
              </section>
            </section>
          </section>
      </section>
      <!-- BEGINNIG EDIT MODAL -->
      <div class="modal fade" id="edit-post-team" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Edit Team</h5>
              <i class="fa-solid fa-square-xmark close" data-bs-dismiss="modal"></i>
            </div>
            <div class="modal-body">
              <form action="/teams/editTeam/<%= team._id%>?_method=PUT" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                  <label for="team" class="form-label">Team Name</label>
                  <input type="text" class="form-control form-control-sm" id="team" name="team" value="<%= team.team%>"
                    placeholder="">
                </div>
                <div class="mb-3">
                  <label for="sport" class="form-label">Sport</label>
                  <input type="text" class="form-control form-control-sm" id="sport" name="sport"
                    value="<%= team.sport%>" placeholder="" required>
                </div>
                <div class="mb-3">
                  <label for="numberofplayers" class="form-label"># of Players</label>
                  <input type="text" class="form-control form-control-sm" id="numberofplayers" name="numberofplayers"
                    value="<%= team.numberofplayers%>" placeholder="">
                </div>
                <div class="mb-3">
                  <div class="row">
                    <div class="col">
                      <label for="win" class="form-label">Win</label>
                      <input type="text" class="form-control win-loss-input" id="win" name="win" value="<%= team.win%>"
                        placeholder="">
                    </div>
                    <div class="col">
                      <label for="loss" class="form-label">Loss</label>
                      <input type="text" class="form-control win-loss-input" id="loss" name="loss"
                        value="<%= team.loss%>" placeholder="">
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="imgUpload" class="form-label">Image</label>
                  <input type="file" class="form-control form-control-sm" id="imageUpload" name="file">
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary submit" value="Upload">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- END EDIT MODAL -->
      <section class="section-table-post">
        <section class="section-team-stats">
          <h3 class="team-stats-header ">TEAM STATS</h3>
          <table class="team-table table table-bordered table-striped table-responsive-md text-center table-hover">
            <thead>
              <tr class="table-head">
                <th>MATCHUP</th>
                <th>W/L</th>
                <% if (team.sport=='BASKETBALL' ) { %>
                  <th>PTS</th>
                  <th>REB</th>
                  <th>AST</th>
                  <th>STL</th>
                  <th>BLK</th>
                  <th>TOV</th>
                  <th>PF</th>
                  <% } else if (team.sport=='BASEBALL' ) { %>
                    <th>RUNS</th>
                    <th>HITS</th>
                    <th>2B</th>
                    <th>3B</th>
                    <th>HR</th>
                    <th>RBI</th>
                    <th>SO</th>
                    <% } else if (team.sport=='FOOTBALL' ) { %>
                      <th>TDs</th>
                      <th>PASSING YARDS</th>
                      <th>RUSHING YARDS</th>
                      <th>POINTS</th>
                      <th>FUMBLES</th>
                      <th>INTERCEPTIONS</th>
                      <th>SACKS</th>
                      <% } else if (team.sport=='SOCCER' ) { %>
                        <th>GOALS</th>
                        <th>SHOTS ON TARGET</th>
                        <th>PK</th>
                        <th>CORNERS</th>
                        <th>YELLOW CARDS</th>
                        <th>RED CARDS</th>
                        <th>OWN GOALS</th>
                        <% } else { %>
                          <th>TBD</th>
                          <th>TBD</th>
                          <th>TBD</th>
                          <th>TBD</th>
                          <th>TBD</th>
                          <th>TBD</th>
                          <th>TBD</th>
                          <% } %>
                            <th></th>
                            <th id="add-row">
                              <button type="button" class="btn add-row" data-bs-toggle="modal"
                                data-bs-target="#team-add-row">
                                <i class="fa-solid fa-circle-plus fa-xl add-row-btn"></i>
                              </button>
                            </th>
              </tr>
            </thead>
            <tbody>
              <% if (team.table.length> 0) { %>
                <% team.table.sort((a, b)=> b.row.cell1-a.row.cell1).forEach(el=> { %>
                  <% let opponent; if (teams.filter(em=> em.team == el.row.cell1)[0]) {
                    opponent = teams.filter(em=> em.team == el.row.cell1)[0]} else {
                    opponent = '';
                    } %>
                    <tr class="table-light">
                      <td id="firstCell" onclick="window.location ='/teams/<%= opponent._id %>'">
                        <%= el.row.cell1 %>
                      </td>
                      <td>
                        <%= el.row.cell2 %>
                      </td>
                      <td>
                        <%= el.row.cell3 %>
                      </td>
                      <td>
                        <%= el.row.cell4 %>
                      </td>
                      <td>
                        <%= el.row.cell5 %>
                      </td>
                      <td>
                        <%= el.row.cell6 %>
                      </td>
                      <td>
                        <%= el.row.cell7 %>
                      </td>
                      <td>
                        <%= el.row.cell8 %>
                      </td>
                      <td>
                        <%= el.row.cell9 %>
                      </td>

                      <td class="btns-table">
                        <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#team-edit-row">
                          <i class="fa-regular fa-pen-to-square fa-lg post-btn"></i>
                        </button>
                      </td>
                      <td class="btns-table">
                        <form action="/teams/deleteRow/<%= el._id %>?_method=DELETE" method="POST">
                          <button class="btn" type="submit">
                            <i class="fa-regular fa-trash-can fa-lg post-btn"></i>
                          </button>
                        </form>
                      </td>
                    </tr>


                    <!-- EDIT ROW MODAL -->

                    <div class="modal fade" id="team-edit-row" tabindex="-1" role="dialog"
                      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Edit Row</h5>
                            <i class="fa-solid fa-square-xmark close" data-bs-dismiss="modal"></i>
                          </div>
                          <div class="modal-body">
                            <div class="mb-3">
                              <form action="/teams/editRow/<%= el._id %>?_method=PUT" method="POST"
                                class="team-edit-modal">
                                <div class="mb-3">
                                  <label for="cell1" class="form-label edit-label"></label>
                                  <input type="text" class="form-control form-control-sm" id="cell1" name="cell1"
                                    placeholder="" value="<%= el.row.cell1 %>">
                                </div>
                                <div class="mb-3">
                                  <label for="cell2" class="form-label edit-label"></label>
                                  <input type="text" class="form-control form-control-sm" id="cell2" name="cell2"
                                    placeholder="" value="<%= el.row.cell2 %>">
                                </div>
                                <div class="mb-3">
                                  <label for="cell3" class="form-label edit-label"></label>
                                  <input type="text" class="form-control form-control-sm" id="cell3" name="cell3"
                                    placeholder="#" value="<%= el.row.cell3 %>">
                                </div>
                                <div class="mb-3">
                                  <label for="cell4" class="form-label edit-label"></label>
                                  <input type="text" class="form-control form-control-sm" id="cell4" name="cell4"
                                    placeholder="#" value="<%= el.row.cell4 %>">
                                </div>
                                <div class="mb-3">
                                  <label for="cell5" class="form-label edit-label"></label>
                                  <input type="text" class="form-control form-control-sm" id="cell5" name="cell5"
                                    placeholder="#" value="<%= el.row.cell5 %>">
                                </div>
                                <div class="mb-3">
                                  <label for="cell6" class="form-label edit-label"></label>
                                  <input type="text" class="form-control form-control-sm" id="cell6" name="cell6"
                                    placeholder="#" value="<%= el.row.cell6 %>">
                                </div>
                                <div class="mb-3">
                                  <label for="cell7" class="form-label edit-label"></label>
                                  <input type="text" class="form-control form-control-sm" id="cell7" name="cell7"
                                    placeholder="#" value="<%= el.row.cell7 %>">
                                </div>
                                <div class="mb-3">
                                  <label for="cell8" class="form-label edit-label"></label>
                                  <input type="text" class="form-control form-control-sm" id="cell8" name="cell8"
                                    placeholder="#" value="<%= el.row.cell8 %>">
                                </div>
                                <div class="mb-3">
                                  <label for="cell9" class="form-label edit-label"></label>
                                  <input type="text" class="form-control form-control-sm" id="cell9" name="cell9"
                                    placeholder="#" value="<%= el.row.cell9 %>">
                                </div>
                                <div class="modal-footer">
                                  <button type="submit" class="btn btn-primary submit" value="Upload">Submit</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% })} %>
            </tbody>
          </table>
          <%- include('partials/team-table-modal') -%>
        </section>
        <section class="section-players-stats">
          <h3 class="team-stats-header">TEAM PLAYERS</h3>
          <section class="team-post-section-feed">
            <section class="team-post-feed-section">
              <ul class="list-feed">
                <% players.forEach(el=> { %>
                  <% if(el.team==team.team){ %>
                    <li class="item-list-feed">
                      <section class="card card-border">
                        <a href="/players/<%= el._id%>" class="card-link">
                          <img src="<%= el.image.profile || el.image.default %>" class="card-img-top img-fluid"
                            alt="...">
                          <ul class="list-group list-group-flush list-card-feed" data-id="el._id">
                            <li class="list-group-item item-list-card first-info">
                              <%= el.player%>
                            </li>
                            <li class="list-group-item item-list-card">
                              <%= el.team%>
                            </li>
                            <li class="list-group-item item-list-card">
                              <%= el.position%>
                            </li>
                            <% if (el.win==='' || el.loss==='' ) {%>
                              <li class="list-group-item item-list-card">
                                0-0
                              </li>
                              <% } else { %>
                                <li class="list-group-item item-list-card">
                                  <%= el.win %>-<%= el.loss%> | <%=
                                        `.${(Number(el.win)/(Number(el.win)+Number(el.loss))).toFixed(3).toString().split('.')[1]}`
                                        %>%
                                        <% } %>
                                </li>
                          </ul>
                          <section class="card-body-notes">
                            <p class="card-text">
                              <%= el.notes%>
                            </p>
                          </section>
                        </a>
                        <section class="card-body-btns">
                          <!-- <% if(el.user==user.id) { %> -->
                          <!-- <form action="/players/deletePlayer/<%= el._id %>?_method=DELETE" method="POST"
                              class="feed-delete-form">
                              <button class="btn feed-delete-btn" type="submit">
                                <i class="fa-regular fa-trash-can fa-lg colored-btn"></i>
                              </button>
                            </form>
                            <button class='btn' type="button" data-bs-toggle="modal" data-bs-target="#edit-players"
                              id="editBtn">
                              <i class="fa-regular fa-pen-to-square fa-lg colored-btn"></i>
                            </button>
                            <% } %>
                              <form action="/players/pinPlayers/<%= el._id %>?_method=PUT" method="POST"
                                class="feed-pin-form">
                                <button class="btn" type="submit">
                                  <% if (el.pinned==true ) { %>
                                    <i class="fa-solid fa-thumbtack fa-lg pinned-btn"></i>
                                    <% } else { %>
                                      <i class="fa-solid fa-thumbtack fa-lg unpinned-btn"></i>
                                      <% } %>
                                </button>
                              </form> -->
                          <a href="/players/<%= el._id%>">
                            <i class="fa-solid fa-eye fa-lg colored-btn"></i>
                          </a>
                        </section>
                      </section>
                    </li>
                    <% }}) %>
              </ul>
            </section>
          </section>
        </section>
      </section>
      <% } %>
    </section>
  </main>

  <%- include('partials/footer') -%>