<%- include('partials/headers/header-menu') -%>

  <main class="container container-post">
    <section class="container-section-post">
      <section class="section-profile-post">
        <%if(league.user==user.id || user.leagues.map(em=> em.league).includes(league.league)){ %>
          <section class="nav-profile-post">
            <img
              src="https://res.cloudinary.com/dprkasf7b/image/upload/c_thumb,w_200,g_face/v1664241356/soccer_t6mqfe.jpg"
              class="post-img-top img-fluid" alt=" ...">
            <section class="section-column-post">
              <section class="section-row-post">
                <section class="section-main-player-info">
                  <section class="section-each-extra-post">
                    <h1>
                      <%= league.league%>
                    </h1>
                  </section>
                  <section class="section-each-extra-post">
                    <h2>
                      <%= league.sport %>
                    </h2>
                  </section>
                  <section class="section-each-extra-post">
                    <h2>
                      #<%= league.numberofplayers %>
                    </h2>
                  </section>
                </section>
                <section class="section-icons-post">
                  <form action="/leagues/editLeague/<%= league.id %>?_method=PUT" method="POST">
                    <button class="btn" type="submit">
                      <i class="fa-regular fa-pen-to-square fa-xl post-btn hover-top"></i>
                    </button>
                  </form>
                  <form action="/leagues/pinLeague/<%= league.id %>?_method=PUT" method="POST">
                    <button class="btn" type="submit" data-bs-toggle="tooltip" data-bs-placement="top"
                      data-bs-title="Pin it">
                      <% if (league.pinned==true ) { %>
                        <i class="fa-solid fa-thumbtack fa-xl pinned-btn"></i>
                        <% } else { %>
                          <i class="fa-solid fa-thumbtack fa-xl unpinned-btn"></i>
                          <% } %>
                    </button>
                  </form>
                  <form action="/leagues/deleteLeague/<%= league.id %>?_method=DELETE" method="POST">
                    <button class="btn" type="submit">
                      <i class="fa-regular fa-trash-can fa-xl post-btn hover-top"></i>
                    </button>
                  </form>
                </section>
              </section>
              <section class="section-secondary-player-info">
                <!-- <section class="section-person-post-extra-one">
                  <section class="section-each-extra-post">
                    <h2>
                      <%= %>
                    </h2>
                    <span>height</span>
                  </section>
                  <section class="section-each-extra-post">
                    <h2>
                      <%= %>
                    </h2>
                    <span>weight</span>
                  </section>
                </section> -->
                <!-- <section class="section-person-post-extra-two">
                 
                </section> -->
                <section class="section-each-extra-post">
                  <h2>
                    <%= league.sport %>
                  </h2>
                  <span>sport</span>
                </section>
                <section class="section-each-extra-post">
                  <h2>
                    <%= league.numberofteams %>
                  </h2>
                  <span># of teams</span>
                </section>
              </section>
            </section>
          </section>

      </section>
      <section class="section-table-post">
      </section>
      <%}%>
        </div>
        </div>
    </section>
    </section>
  </main>

  <%- include('partials/footer') -%>