<%- include('partials/headers/header-menu') -%>

  <main class="container container-post">
    <section class="container-section-post">
      <section class="section-profile-post">
        <%if(team.user==user.id || user.league.map(em=> em.league).includes(el.team)){ %>
          <section class="nav-profile-post">
            <img
              src="https://res.cloudinary.com/dprkasf7b/image/upload/c_thumb,w_200,g_face/v1664241356/soccer_t6mqfe.jpg"
              class="post-img-top img-fluid"" alt=" ...">
            <section class="section-column-post">
              <section class="section-row-post">
                <section class="section-second-column-post">
                  <section class="section-each-extra-post">
                    <h1>
                      <%= team.team%>
                    </h1>
                  </section>
                  <section class="section-each-extra-post">
                    <h2>
                      <%= team.sport %>
                    </h2>
                  </section>
                  <section class="section-each-extra-post">
                    <h2>
                      #<%= team.numberofplayers %>
                    </h2>
                  </section>
                </section>
                <section class="section-icons-post">
                  <form class="col-1" action="/teams/editTeam/<%= team.id %>?_method=PUT" method="POST">
                    <button class="btn" type="submit">
                      <i class="fa-regular fa-pen-to-square fa-xl post-btn"></i>
                    </button>
                  </form>
                  <form class="col-1" action="/teams/pinTeam/<%= team.id %>?_method=PUT" method="POST">
                    <button class="btn" type="submit" data-bs-toggle="tooltip" data-bs-placement="top"
                      data-bs-title="Pin it">
                      <% if (team.pinned==true ) { %>
                        <i class="fa-solid fa-thumbtack fa-xl pinned-btn"></i>
                        <% } else { %>
                          <i class="fa-solid fa-thumbtack fa-xl unpinned-btn"></i>
                          <% } %>
                    </button>
                  </form>
                  <form action="/teams/deleteTeam/<%= team.id %>?_method=DELETE" method="POST" class="col-1">
                    <button class="btn" type="submit">
                      <i class="fa-regular fa-trash-can fa-xl post-btn"></i>
                    </button>
                  </form>
                </section>
              </section>
              <section class="section-person-post">
                <section class="section-person-post-extra-one">
                  <!-- <section class="section-each-extra-post">
                    <h2>
                      <%= %>
                    </h2>
                    <span>height</span>
                  </section>
                  <section class="section-each-extra-post">
                    <h2>
                      <%= %>
                    </h2>
                    <span>weight</span>
                  </section> -->
                </section>
                <section class="section-person-post-extra-two">
                  <section class="section-each-extra-post">
                    <h2>
                      <%= team.win %>-<%= team.loss%> | <%=
                            `.${(Number(team.win)/(Number(team.win)+Number(team.loss))).toFixed(3).toString().split('.')[1]}`
                            %>%
                    </h2>
                    <span>w-l | pct </span>

                  </section>
                  <section class="section-each-extra-post">

                    <h2>
                      <%= team.sport %>
                    </h2>
                    <span>sport</span>
                  </section>
                  <section class="section-each-extra-post">
                    <h2>
                      <%= team.numberofplayers %>
                    </h2>
                    <span># of players</span>
                  </section>
                </section>
              </section>
            </section>
          </section>

      </section>
      <section class="section-table-post">

        <!-- <form action="/post/createTable/<%= team.id %>?_method=PUT" class="col-1" enctype="multipart/form-data"
          method="POST">
          <button class="btn table-add" type="submit">
            <i class="fa-solid fa-circle-plus"></i>
          </button>
         
        </form> -->
        <%- include('partials/bootstrap-table') -%>

      </section>
      <%}%>
        </div>
        </div>
    </section>
    </section>
  </main>

  <%- include('partials/footer') -%>